<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">

      <tr class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </tr>
      </div>
  </div>
</nav>